/* .contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.4em;
    background-color: aliceblue;
    width: 100%;
    background-color: #75DB2E;
    opacity:0.9;
    margin-bottom: 3em;

}
 */
button{
    padding: 0.5em;
    width: 110px;
    font-size: 1em;
    margin-left: 1rem;
    margin-right: 0.8rem;
    cursor: pointer;
    letter-spacing: 0.2em;
    font-weight: 800;
    border: 0.5px solid #75DB2E;
    background-color: black;
    color: #75DB2E;
    border-radius: 25px;
    transition:  0.8s ease;


}

button:hover{
    background-color: #75DB2E;
    border: 1px solid black;
    color: black;
    
 }
input{
    padding: 0.3em;
    height: 36px;
    font-size: 1em;
    margin-left: 1rem;
    border: 1.5px solid #75DB2E;
    border-radius: 0.2em;
    width: 350px;
    max-width: 50%;
    background-color: black;
    color: #75DB2E;
    transition: transform 0.3s;
    border-radius: 25px;
    
}

input:focus{
    outline: #75DB2E;
}

/* h1{letter-spacing: 0.2;} */

